
h1, p{
    color:#fff;
    padding: 1rem;
    margin: 1rem;
    width: 25rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    line-height: 30px;
}
body {
    background: #373737;
    height: 100%;
    width: 100%;
    margin: 0;
}
img{
    object-fit: cover;
    height: 20rem;
    display: block;
    margin: 2rem;
}